[{% for item in props %}{"id":"{{item['propid']}}",
"date":"{{item['date']}}",
"ref":"{{item['propref']}}",
"price":"{{item['enprice']}}",
"sprice":"{{item['sprice']}}",
"enprice":"{{item['enprice']}}",
"price_freq":"{{item['frequency']}}",
"type":"{{item['proptype']}}",
"town":"{{item['town']}}",
"province":"{{item['province']}}",
"location_detail":"{{item['locationdetail']}}",
"beds":"{{item['beds']}}",
"baths":"{{item['baths']}}",
"pool":"{{item['pool']}}",
"url":"{{item['propurl']}}",
"desc":"{{item['description']}}",
"thumb":"{{item['img']|replace("s640-rj-e30-v1","s400-rj-e30-v1?.jpg")|replace("s640-rj-e30-v2","s400-rj-e30-v2?.jpg")}}"}{% if not loop.last %},{% endif %}{% endfor %}]