<div id="footer" class="columns is-centered" xstyle="background-color: #3273dc;color: white;">
    <div class="column is-4 ">
        <h2 class="is-size-4">MaxGoldHouse -<a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?ll=37.93819,-0.753486&amp;iwloc=0004d407c9d5045bb72fc&amp;msa=0&amp;spn=0.014622,0.027874&amp;mid=zXjUEAzLh6Lk.kiblnLb9tKe8"> Office Location<img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1590765075/location-white.svg" style="height: 36px;border:none;padding: 4px 0px 0px 8px;margin:0px;vertical-align: text-bottom;" title="See office location on Google maps"></a></h2>
        <p>Centro Comercial Rioja No. 45 - Villamartin Golf</br>
        Calle Magallanes / corner Calle Manuel de Falla s/n</br>
        03189 Orihuela (Alicante)</p>
        <p><img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1590681757/landline-white.svg" style="height: 20px;"> +34 657 612 295</p>
        
    </div>
    <div class="column is-3 ">
        <h2 class="is-size-4">Director</h2>
        <p>Ellen Van den Broek</p>
        <p><a href="mailto:ellen@maxgoldhouse.com" xstyle="color:white;">ellen@maxgoldhouse.com</a></p>
        <p><img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1592496930/whatsapp-logo.svg" style="height:20px;"><img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1590681757/handy-white.svg" style="height: 20px;"> +34 657 612 295</p>
    </div>
    <div  class="column is-3">
        <p><a href="https://de.maxgoldhouse.com/datenschutzerklarung.html" class="navbar-item is-uppercase ">Datenschutzerklarung</a></p>
        <p><a href="https://de.maxgoldhouse.com/cookie-richtlinie.html" class="navbar-item is-uppercase ">Cookie Richtlinie</a></p>
    </div>
    <!--<div class="column is-3 ">
        <h2 class="is-size-4">Sales Director</h2>
        <p>Clare McColgan</p>
        <p><a href="mailto:clare@maxgoldhouse.com" xstyle="color:white;">clare@maxgoldhouse.com</a></p>
        <p><img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1592496930/whatsapp-logo.svg" style="height:20px;"><img src="https://res.cloudinary.com/maxgoldhouse/image/upload/v1590681757/handy-white.svg" style="height: 20px;"> +34 608 826 850</p>
    </div>-->
</div>