<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="has-navbar-fixed-top">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Property in Spain - The Buying Process</title>
<meta content="Property in Spain - The Buying Process" name="description" />
<meta content="fr" http-equiv="Content-Language" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="canonical" href="{{ enurl }}buying-process.html" />
<link rel="alternate" hreflang="en" href="{{ enurl }}buying-process.html" />
<link rel="alternate" hreflang="de" href="{{ deurl }}kaufen-in-spanien.html" />
<link rel="alternate" hreflang="fr" href="{{ frurl }}achat-le-processus.html" />
<link rel="alternate" hreflang="nl" href="{{ nlurl }}het-koopproces.html" />
<link rel="stylesheet" href="{{enurl}}css/mgh.css?26>
<link rel="shortcut icon" href="/img/favicon.ico" />

</head>
<body  class="has-navbar-fixed-top">
<header>
    <nav class="navbar is-fixed-top is-link">
        <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                </a>
    <a class="" id="btn-property-back" href="javascript:goback('https://www.maxgoldhouse.com');">
          <svg width="8mm" height="8mm" version="1.1" viewBox="0 0 5.6444 5.6444" xmlns="http://www.w3.org/2000/svg">
          </svg>
    </a>
                <a class="navbar-item" href="/">
                  <img src="https://lh3.googleusercontent.com/-VnP7FD3Xk94/WFfNY4vmdkI/AAAAAAAAO-k/srLkasCBQcUlFowdxd0eeM7Jwnh0444rgCHM/s0-no-e365/mghlogo.png" width=280 height=50 style="max-height: 20rem;" alt="MaxGoldHouse Logo"/>
                </a>	
        </div>		
<div id="navMenu" class="navbar-menu">
<div class="navbar-start">
  <a href="index.html" class="navbar-item is-uppercase ">For Sale</a>
  <a href="search.html?offeris=rental&beds=&baths=&propref=No+Ref" class="navbar-item is-uppercase ">Rent</a>
  <a href="buying-process.html" class="navbar-item is-uppercase ">Buying Process</a>
  <a href="#footer" class="navbar-item is-uppercase ">Contact</a>
</div>
<ul class="languagepicker large navbar-end lingo navbar-item">
  <a class="addqs" href="{{ enurl }}buying-process.html">
  <li><img class="vam" src="//lh3.googleusercontent.com/kEyBIAzDf4lJtEXKBQyEqsnEgvyaNboEl_4vNL6ZWv_LYJ9P67G6zn3wjq6QGwtho6qjKADDviJW76Ul=s24">EN &nbsp;▼</li></a>
  <a class="addqs" href="{{ deurl }}kaufen-in-spanien.html"><li><span>DE</span></li></a>
  <a class="addqs" href="{{ frurl }}achat-le-processus.html"><li><span>FR</span></li></a>
  <a class="addqs" href="{{ nlurl }}het-koopproces.html"><li><span>NL</span></li></a>
</ul>
</div>
</nav>

    <script>(function(){var burger=document.querySelector('.burger');var nav=document.querySelector('#'+burger.dataset.target);burger.addEventListener('click',function(){burger.classList.toggle('is-active');nav.classList.toggle('is-active');});})();</script>
</header>

    <div>
<style>#container p{font-size: 18px;}</style>
<div class="columns is-centered" id="container">
<div class="container" id="content">


<h1 class="is-size-2">Buying a home in Spain - The Buying Process</h1>


<!-- START PAGE CONTENT -->
<h3 class="is-size-4" id="1-the-offer">1. The Offer</h3>

<p class="mx-5">You found your dream property - your decision has been made, your offer has been accepted by the owners.</p>



<h3 class="is-size-4" id="2-the-reservation-contract">2. The Reservation Contract</h3>

<p class="mx-5">At the maxgoldhouse office we prepare the Reservation Contract.  <br>
You sign the contract and make the Reservation Payment of 3.000 euro either by credit/debit card or in cash. The property is RESERVED for you and taken off the market. <br>
If you change your mind and decide not to buy then you will lose this deposit. If the vendor does not go forward with the sale then you will get your deposit back.</p>



<h3 class="is-size-4" id="3-engage-a-solicitor">3. Engage A Solicitor</h3>

<p class="mx-5">At this point you need to engage the services of a solicitor. We have experience with many reputable firms in the area and can make a recommendation for a legal representative that works in your language. You may follow our recommendations or chose your own. As soon as you have a solicitor we can deliver the Reservation Contract and all legal documents to them. </p>



<h3 class="is-size-4" id="4-your-solicitor-gets-to-work">4. Your Solicitor Gets To Work</h3>

<p class="mx-5">This solicitor acting now on your behalf will begin all the due diligence on the property - legal status, land registry, outstanding payments (water, power, gas, tax, community etc. etc.), existing mortgage or other debts, energy certificate, Cedula of Habitation - to inform you officially about the actual status of “your” property. If every single point has been checked and is in order - the 3.000 euro Reservation Payment will be delivered to the owners. This is the final binding act in Spain between selling and buying parties.</p>



<h3 class="is-size-4" id="5-the-legal-sales-contract">5. The Legal Sales Contract</h3>

<p class="mx-5">Then your solicitor will prepare the Legal Sales Contract (LSC) and you and also the sellers have to sign - and you have to pay within ca. 2 weeks the main deposit payment of 10 % of the net sales price to the client´s trustee account of your solicitor. This will be held on that account until the completion at the Spanish notary.</p>



<h3 class="is-size-4" id="6-preparing-for-the-legal-completion-of-the-sale">6. Preparing For the Legal Completion Of The Sale</h3>

<p class="mx-5">Together with maxgoldhouse your solicitor prepares all needed details and figures for the forthcoming completion with a Spanish Notary (Notario). We work with you on the application for your Spanish NIE tax number which you need for most official transactions in Spain.</p>



<h3 class="is-size-4" id="7-getting-your-finances-in-order">7. Getting Your Finances In Order</h3>

<p class="mx-5">To simplify the completion of your Spanish home purchase you will need to open an account with a Spanish Bank.  All the main Spanish banks offer all the latest technology so controlling your account securely over the internet is not a problem. Once you have opened an account you can transfer your funds for the purchase. If your funds are not in EUROS then we can advise on the best way to make transfers from your home bank that will save you a considerable amount of money.</p>

<p class="mx-5">If you would like to apply for a mortgage with a Spanish bank(maximum of 60-70 % of the net sales price) we can assist you with applications.</p>

<p class="mx-5">Keep in mind that there are costs to buying in Spain. For a previously owned property you will pay 10% of the asking price in ITP tax and for 
  a new build property taxes are approx 11.5% which is ITP tax and IVA. All buyers can expect to pay about 3500 euros for Land Registry, Notary and Solicitor fees.</p>



<h3 class="is-size-4" id="8-the-official-completion-at-the-notary-office">8. The Official Completion At The Notary Office</h3>

<p class="mx-5">After transferring all needed money to your new Spanish bank account - we can plan and organise for you the notarial completion incl a final property check on the day before the completion - to see that everything is in order, all agreed furnishings have been left etc.</p>

<p class="mx-5">At the official signing at the Notary office the Notary makes sure that both the buyer and the seller of the property understand the terms of the contract, that the terms of the contract comply with the law and that the taxes generated by the property sale/purchase are paid.</p>

<p class="mx-5">If your property transaction is not officially signed by a Notary you will not be able to have your property deeds entered into the Spanish Property Register. In Spanish law the person who inscribes the property in the register is the official owner.</p>

<p class="mx-5">The notary has access to the Spanish Property Register and will register your deeds immediately after the signing. </p>

<p class="mx-5">Congratulations. You are now the official owner of your very own property in Spain.</p>


<h3 class="is-size-4" id="9-after-sales-support">9. After Sales Support</h3>

<p class="mx-5">Buying a property in a foreign country is not something you are used to and we know that you need support with a number of every day details of owning a property here in Spain. This after sales care is an important part of our philosophy. <br>
Just simple things like setting up your accounts for water, electricity, telephones local taxes will all feel alien to you. You may need to engage a reputable tradesman to carry out some work. You might want to keep your yacht in the marina. We are here to guide you in any way we can so that enjoying your new property in a new country is a wonderful experience.</p>


</div>
</div>

{% include "footer.html" %}

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--[if lte IE 9]>
<script src="/js/jquery.html5-placeholder-shim.js" type="text/javascript"></script>
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-140979-2', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>


<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "https://www.maxgoldhouse.com",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+34 657 612 295",
      "contactType" : "customer support"
    },
    { "@type" : "ContactPoint",
      "telephone" : "+44 114 299 8082",
      "contactType" : "customer support",
      "areaServed":"GB"
    } ] }
</script>
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
</html>