<div class="columns" style="background-color: #3273dc;color: white;">
    <div class="column is-one-third ">
        <h2>MaxGoldHouse - Office</h2>
        <p>Centro Comercial Rioja No. 45 - Villamartin Golf</br>
        Calle Magallanes / corner Calle Manuel de Falla s/n</br>
        03189 Orihuela (Alicante)</p>
        <p>M: +34 966 765 497</p>
    </div>
    <div class="column is-one-third ">
        <h2>Admin Director</h2>
        <p>Ellen Van den Broek</p>
        <p><a href="mailto:ellen@maxgoldhouse.com">ellen@maxgoldhouse.com</a></p>
        <p>M: +34 608 826 850</p>
    </div>
    <div class="column is-one-third ">
        <h2>Sales Director</h2>
        <p>Clare McColgan</p>
        <p><a href="mailto:clare@maxgoldhouse.com">clare@maxgoldhouse.com</a></p>
        <p>M: +34 657 612 295</p>
    </div>
</div>