<nav class="navbar is-fixed-top is-link">
    <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
            <a class="navbar-item" href="/">
              <img src="https://lh3.googleusercontent.com/-VnP7FD3Xk94/WFfNY4vmdkI/AAAAAAAAO-k/srLkasCBQcUlFowdxd0eeM7Jwnh0444rgCHM/s0-no-e365/mghlogo.png" width=280 height=50 style="max-height: 20rem;" alt="MaxGoldHouse Logo"/>
            </a>	
    </div>		

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
        <a href="index.html" class="navbar-item is-uppercase ">For Sale</a>
        <a href="search.html?offeris=rental&beds=>p=<p=&baths=&propref=No+Ref" class="navbar-item is-uppercase ">Long Term Rental</a>
        <a href="buying-process.html" class="navbar-item is-uppercase ">The Buying Process</a>
        <!--<a href="privacy-policy.html" class="navbar-item is-uppercase ">Privacy</a>
        <a href="cookie-policy.html" class="navbar-item is-uppercase ">Cookies</a>-->
      </div>
    <ul class="languagepicker large navbar-end lingo navbar-item">
      <a href="https://www.maxgoldhouse.com">
      <li><img class="vam" src="//lh3.googleusercontent.com/kEyBIAzDf4lJtEXKBQyEqsnEgvyaNboEl_4vNL6ZWv_LYJ9P67G6zn3wjq6QGwtho6qjKADDviJW76Ul=s24">EN &nbsp;▼</li></a>
      <a href="https://de.maxgoldhouse.com/{{url_de}}"><li><span>DE</span></li></a>
      <a href="https://fr.maxgoldhouse.com/{{url_fr}}"><li><span>FR</span></li></a>
      <a href="https://nl.maxgoldhouse.com/{{url_nl}}"><li><span>NL</span></li></a>
    </ul>
    </div>
</nav>