<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="has-navbar-fixed-top">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{title}}</title>
<meta content="{{keywords}}" name="keywords" />
<meta content="{{description}}" name="description" />
<meta content="en" http-equiv="Content-Language" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="msvalidate.01" content="495BBC82C6515A55A3A84D993FEB5094" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="canonical" href="/search.html"/>
<link rel="alternate" hreflang="en" href="{{enurl}}search.html"/>
<link rel="alternate" hreflang="de" href="{{deurl}}suche.html"/>
<link rel="alternate" hreflang="fr" href="{{frurl}}recehecher.html"/>
<link rel="alternate" hreflang="nl" href="{{nlurl}}zoek.html"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
<script src="https://kit.fontawesome.com/73fe5491f6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/mgh.css?19">
<link rel="shortcut icon" href="/img/favicon.ico" />

</head>
<body  class="xhas-navbar-fixed-top">
<script>
const params = new URLSearchParams(window.location.search);
</script>
<header>
		<nav class="navbar is-fixed-top is-link">
				<div class="navbar-brand">
						<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
							  </a>
						<a class="navbar-item" href="/">
						  <img src="https://lh3.googleusercontent.com/-VnP7FD3Xk94/WFfNY4vmdkI/AAAAAAAAO-k/srLkasCBQcUlFowdxd0eeM7Jwnh0444rgCHM/s0-no-e365/mghlogo.png" width=280 height=50 style="max-height: 20rem;" alt="MaxGoldHouse Logo"/>
						</a>	
				</div>		
        <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a href="index.html" class="navbar-item is-uppercase ">For Sale</a>
          <a href="search.html?offeris=rental&beds=&baths=&propref=No+Ref" class="navbar-item is-uppercase ">Long Term Rental</a>
          <a href="buying-process.html" class="navbar-item is-uppercase ">The Buying Process</a>
          <a href="privacy-policy.html" class="navbar-item is-uppercase ">Privacy</a>
          <a href="cookie-policy.html" class="navbar-item is-uppercase ">Cookies</a>
        </div>
        <ul class="languagepicker large navbar-end lingo navbar-item">
          <a class="addqs" href="/search.html">
          <li><img class="vam" src="//lh3.googleusercontent.com/kEyBIAzDf4lJtEXKBQyEqsnEgvyaNboEl_4vNL6ZWv_LYJ9P67G6zn3wjq6QGwtho6qjKADDviJW76Ul=s24">EN &nbsp;▼</li></a>
          <a class="addqs" href="{{deurl}}suche.html"><li><span>DE</span></li></a>
          <a class="addqs" href="{{frurl}}rechercher.html"><li><span>FR</span></li></a>
          <a class="addqs" href="{{nlurl}}zoek.html"><li><span>NL</span></li></a>
        </ul>
        </div>
    </nav>

    <script>(function(){var burger=document.querySelector('.burger');var nav=document.querySelector('#'+burger.dataset.target);burger.addEventListener('click',function(){burger.classList.toggle('is-active');nav.classList.toggle('is-active');});})();</script>
</header>
<script>
function displaysearch(action){
  document.getElementById("fpphoto").style.display=action;
  document.getElementById("opensearch").style.display=(action == 'block') ? 'none' : 'block';//toggle the filter search button
  document.getElementById("closesearch").style.display=(action == 'none') ? 'none' : 'block';//toggle the filter search button
}
</script>
<div id="opensearch">
  <div class="columns is-centered">
    <div class="column is-12" style="padding:1.3rem 0;">  
      <center><button id="opensearchbtn" onclick="displaysearch('block')" style="border-radius:50%;" class="button is-info details" title="Modifier vos paramètres de recherche"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;<i class="fas fa-plus" aria-hidden="true"></i></button></center>
     </div>
  </div>
</div>
<div class="columns is-centered">
    <div class="column"id="fpphoto" style="display:none;">
      <div class="xfpsearch xsticky" id="searchformholder">
          <form id="propsearch" action="search.html" method="GET">
              <div class="columns xis-vcentered is-multiline is-centered" xstyle="background-color: rgba(52, 149, 218, 0.5);">
                  <br/>
                   <div class="locs column is-2 is-inline-block-mobile">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Locale <span class="slimreset" onclick="theloc.set([])">Reset</span></label>
                          <select id="loc" class="slim-hidden" name="loc" multiple="multiple">
                              {% include 'distinctlocations.html'%}</select>
                          <!--<div class="control"><input class="input" type="text" name="loc" placeholder="Location" length="20"></div> -->
                      </div>
                  </div>
                <script>
                    arrlocs = params.getAll('loc')
                    var theloc = new SlimSelect({
                    select: '#loc',
                    selectByGroup: true,
                    placeholder: 'Select from list',
                    allowDeselect: true
                    })
                    theloc.set(arrlocs)
                </script>
                  <div class="type column is-inline-block-mobile is-2 is-5-mobile">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Property Type</label>
                          <!-- <input class="input" type="text" id="pt" name="pt" placeholder="Property Type"  length="20"> -->
                          <div class="control">
                              <select name="pt" class="slim-hidden" id="pt" aria-label="Property type" readonly=""  multiple="multiple">
                                  <option value=""></option>
                                  <option value="Apartment">Apartment</option>  
                                  <option value="Townhouse">Townhouse</option>
                                  <option value="Villa">Villa</option>
                                  <option value="Finca">Finca</option>
                                  <option value="Land">Land</option>
                                  <option value="Commercial">Commercial</option>
                              </select>
                          </div>
                      </div>
                  </div>
                <script>
                  var thept = new SlimSelect({
                  select: '#pt',
                  placeholder: 'Select from list',
                  allowDeselect: true
                })
                  var thecontrols = document.getElementsByClassName("ss-main");
                  thecontrols[0].style.visibility = "visible";
                  thecontrols[1].style.visibility = "visible";
                </script>
                  <div class="anrr column is-inline-block-mobile is-3 is-6-mobile">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br>New/Resale/Rent</label>
                          <select id="offeris" class="form-control" name="offeris">
                              <option value="all">tout</option>
                              <option value="new">New</option>
                              <option value="resale">Resale</option>
                              <option value="rental">Rent</option>
                              </select>
                      </div>
                  </div>
                  <script>
                      function poolchecked(){
                        if(document.getElementById("pool").checked){
                          document.getElementById("poolvalue").value = 'true';
                          document.getElementById("pool").value = 'on';}
                        else{
                          document.getElementById("poolvalue").value = 'false';
                          document.getElementById("pool").value = '';}                               
                        }
                  </script>
                  <div class="pool column" style="max-width: 60px;">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Pool</label>
                          <div class="control">                             
                                <input class="form-control poolcheckbox" type="checkbox" name="pool" id="pool" onchange="poolchecked()" >

                                <input type="hidden" id="poolvalue" value="false"/>
                          </div>
                      </div>
                   </div>


                </div>
                <div class="columns is-multiline is-centered" xstyle="background-color: rgba(52, 149, 218, 0.5);">
                  <div class="beds column is-inline-block is-2 is-5-mobile" style="xmax-width:80px;">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Bedrooms</label>
                          <div class="control">                             
                                <select name="beds" class="form-control" id="beds" aria-label="Bedrooms" readonly="">
                                  <option value=""></option>
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value=12">12</option>                                                                   
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="baths column is-inline-block is-2 is-5-mobile" style="xmax-width:80px;">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Bathrooms</label>
                          <div class="control">                             
                                <select name="baths" class="form-control" id="baths" aria-label="Bathrooms" readonly="">
                                  <option value=""></option>
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value=12">12</option>                                                                   
                              </select>
                          </div>
                      </div>
                  </div>                  
                  <div class="min column is-inline-block is-2 is-5-mobile">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>€ price min</label>
                          <div class="control">
                              <select name="gtp" class="form-control" id="gtp" aria-label="price min" readonly="">                                 
                                  <option value=""></option>
                                  <option value="0">€0</option>
                                  <option value="50000">€50,000</option>
                                  <option value="60000">€60,000</option>
                                  <option value="70000">€70,000</option>
                                  <option value="80000">€80,000</option>
                                  <option value="90000">€90,000</option>                                  
                                  <option value="100000">€100,000</option>
                                  <option value="125000">€125,000</option>
                                  <option value="150000">€150,000</option>
                                  <option value="175000">€175,000</option>
                                  <option value="200000">€200,000</option>
                                  <option value="225000">€225,000</option>
                                  <option value="250000">€250,000</option>
                                  <option value="275000">€275,000</option>
                                  <option value="300000">€300,000</option>
                                  <option value="325000">€325,000</option>
                                  <option value="350000">€350,000</option>
                                  <option value="375000">€375,000</option>
                                  <option value="400000">€400,000</option>
                                  <option value="425000">€425,000</option>
                                  <option value="450000">€450,000</option>
                                  <option value="475000">€475,000</option>
                                  <option value="500000">€500,000</option>
                                  <option value="550000">€550,000</option>
                                  <option value="600000">€600,000</option>
                                  <option value="650000">€650,000</option>
                                  <option value="700000">€700,000</option>
                                  <option value="800000">€800,000</option>
                                  <option value="900000">€900,000</option>
                                  <option value="1000000">€1,000,000</option>
                                  <option value="1250000">€1,250,000</option>
                                  <option value="1500000">€1,500,000</option>
                                  <option value="1750000">€1,750,000</option>
                                  <option value="2000000">€2,000,000</option>
                                  <option value="2500000">€2,500,000</option>
                                  <option value="3000000">€3,000,000</option>
                                  <option value="4000000">€4,000,000</option>
                                  <option value="5000000">€5,000,000</option>
                                  <option value="7500000">€7,500,000</option>
                                  <option value="10000000">€10,000,000</option>
                                  <option value="15000000">€15,000,000</option>
                                  <option value="20000000">€20,000,000</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="max column is-inline-block is-2 is-5-mobile">
                      <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>€ price max</label>
                          <div class="control">
                              <select name="ltp" class="form-control" id="ltp" aria-label="price max" readonly="">
                                  <option value=""></option>
                                  <option value="50000">€50,000</option>
                                  <option value="60000">€60,000</option>
                                  <option value="70000">€70,000</option>
                                  <option value="80000">€80,000</option>
                                  <option value="90000">€90,000</option>
                                  <option value="100000">€100,000</option>
                                  <option value="125000">€125,000</option>
                                  <option value="150000">€150,000</option>
                                  <option value="175000">€175,000</option>
                                  <option value="200000">€200,000</option>
                                  <option value="225000">€225,000</option>
                                  <option value="250000">€250,000</option>
                                  <option value="275000">€275,000</option>
                                  <option value="300000">€300,000</option>
                                  <option value="325000">€325,000</option>
                                  <option value="350000">€350,000</option>
                                  <option value="375000">€375,000</option>
                                  <option value="400000">€400,000</option>
                                  <option value="425000">€425,000</option>
                                  <option value="450000">€450,000</option>
                                  <option value="475000">€475,000</option>
                                  <option value="500000">€500,000</option>
                                  <option value="550000">€550,000</option>
                                  <option value="600000">€600,000</option>
                                  <option value="650000">€650,000</option>
                                  <option value="700000">€700,000</option>
                                  <option value="800000">€800,000</option>
                                  <option value="900000">€900,000</option>
                                  <option value="1000000">€1,000,000</option>
                                  <option value="1250000">€1,250,000</option>
                                  <option value="1500000">€1,500,000</option>
                                  <option value="1750000">€1,750,000</option>
                                  <option value="2000000">€2,000,000</option>
                                  <option value="2500000">€2,500,000</option>
                                  <option value="3000000">€3,000,000</option>
                                  <option value="4000000">€4,000,000</option>
                                  <option value="5000000">€5,000,000</option>
                                  <option value="7500000">€7,500,000</option>
                                  <option value="10000000">€10,000,000</option>
                                  <option value="15000000">€15,000,000</option>
                                  <option value="20000000">€20,000,000</option>
                              </select>
                          </div>
                      </div>
                  </div>

                  <div class="refs column is-2">
                       <div class="field">
                          <label class="label is-small has-text-white popwhitetext"><br/>Ref-No.</label>
                          <div class="control">                             
                                <select class="form-control" name="propref"><option value="No Ref">Select</option>{% include 'refsearch.html'%}</select>
                          </div>
                      </div>
                   </div>
              </div>
              <div class="submit columns is-multiline is-centered" style="margin: 1rem 0;">
                  <div class="column" id="searchbutton" style="flex:none;">
                      <input class="button is-info details" type="submit" value="Search">
                  </div>
              </div>


          </form>
    <div class="columns is-centered" id="closesearch">
    <div class="column is-12">  
      <center><button id="closesearchbtn" onclick="displaysearch('none')" style="border-radius:50%;" class="button is-info details" title="Fermer le formulaire de recherche"><i class="fas fa-times" aria-hidden="true"></i></button></center>
     </div>
  </div>
      </div>
    </div>
  </div>


          <!-- ##### END of Nav and Search ##### -->
                  <script>
                  /* When the user clicks on the button, 
                  toggle between hiding and showing the dropdown content */
                  function myFunction() {
                      document.getElementById("myDropdown").classList.toggle("show");
                  }

                  </script>
    <div>
      <div id="propresults" class="columns is-multiline is-mobile search-mania">
        <center><h2>S E A R C H I N G....</h2></center>
      </div>
    </div>

  {% include "footer.html" %}

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--[if lte IE 9]>
<script src="/js/jquery.html5-placeholder-shim.js" type="text/javascript"></script>
<![endif]-->
<script src="//www.maxgoldhouse.com/js/fx.js"></script>
<script src="//www.maxgoldhouse.com/js/tengine.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//www.maxgoldhouse.com/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/taffydb/2.7.3/taffy-min.js"></script>
<!-- template engine -->
<script src="//www.maxgoldhouse.com/js/tengine.js"></script>
<script>
if(document.location.search){
 document.querySelectorAll('a[class="addqs"], link[rel="alternate"]').forEach(function(userItem) {
   userItem.href = userItem.href+document.location.search;
 });
};

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-140979-2', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

 // START Set form controls with querystring values
document.getElementById("offeris").value = params.get('offeris');
document.getElementById("beds").value = params.get('beds');
document.getElementById("baths").value = params.get('baths');
document.getElementById("gtp").value = params.get('gtp');
document.getElementById("ltp").value = params.get('ltp');
document.getElementById("pool").value = params.get('pool');
// END Set form controls 

function getQueryStringValue (key) {  
  return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
} 

function QueryData(t,e){if(null==t&&(t=location.search?location.search:""),"?"==t.charAt(0)&&(t=t.substring(1)),t.length>0)for(var n=(t=t.replace(/\+/g," ")).split(/[&;]/g),i=0;i<n.length;i++){var o=n[i].split("="),h=decodeURIComponent(o[0]),s=o.length>1?decodeURIComponent(o[1]):"";e?(h in this||(this[h]=[]),this[h].push(s)):this[h]=s}}


//adjust search prices
function adjustprice(strprice, adjustment){
   adjustedprice = parseInt(strprice) + adjustment;
   return adjustedprice.toString();
};

//prepare querystring multivalues
function prepqsmulti(QSPlaces){
  var arrPlaces = decodeURIComponent(QSPlaces).replace(/\%2C/g,",").split(',');
  for(i in arrPlaces){
      arrPlaces[i] = '"'+arrPlaces[i]+'"'
    };
  var strPlaces = arrPlaces.join(', ');
  return strPlaces;
  };

  function justlocdetail(QSloc){
    var arrLoc = QSloc.split('|')
    return arrLoc[1]
  };
  
//get the querystring

fetch('allprops.json')
  .then(function(response) {
    return response.json();
  })
  .then(function(json) {
    console.log(JSON.stringify(json));
  var propsdb = TAFFY(json);
  var tafqry = [];
  var theqry = ""
  var outputHTML = ""
//
var qsData = new QueryData(window.location.search, true);
// is it a ref search
// propref
if(qsData.propref != 'No Ref'){
  tafqry.push('"ref":"'+qsData.propref+'"')
  //console.log(tafqry.join(', '))
  theqry = JSON.parse('{'+tafqry.join(', ')+'}')
  //console.log(theqry)

} else {
//not ref search
  tafqry.push('"price":{"!is":"SOLD"}')
  theofferis = {"new":"new","resale":"resale","rental":"rental"}
  //var qsData = new QueryData(window.location.search, true);
  if(qsData.offeris != "all" && typeof qsData.offeris !== "undefined"){tafqry.push('"offeris":"'+theofferis[qsData.offeris]+'"')}
  console.log("the offeris is "+qsData.offeris)
  console.log("the gtp is "+qsData.gtp)
  console.log("the ltp is "+qsData.ltp)
  console.log("the pt are "+qsData.pt)
  console.log("the pool is "+qsData.pool)
  if(typeof qsData.pt !== "undefined"){ 
    //,Semidetached%20Villa,Detached%20Villa
    thept.set(qsData.pt)
    if(qsData.pt.indexOf("Villa") > -1){qsData.pt.push('Semidetached Villa','Detached Villa')}
    if(qsData.pt.indexOf("Townhouse") > -1){qsData.pt.push('Townhouse','Quadhouse')}
    tafqry.push('"type":'+JSON.stringify(qsData.pt)+'') 
  }
  if (typeof qsData.gtp !== "undefined" && qsData.gtp != ""){
    document.getElementById('gtp').value = qsData.gtp
    tafqry.push('"gtprice":{"gt":'+adjustprice(qsData.gtp,-1)+'}') 
  }
  if((typeof qsData.ltp !== "undefined" && qsData.ltp != "")){
    document.getElementById('ltp').value = qsData.ltp 
    tafqry.push('"ltprice":{"lt":'+adjustprice(qsData.ltp,1)+'}') 
  }
  if(typeof qsData.loc!== "undefined"){ 
    theloc.set(qsData.loc)
    tafqry.push('"location_detail":'+JSON.stringify(qsData.loc)+'') 
  }
  if((typeof qsData.beds !== "undefined" && qsData.beds != "")){
    document.getElementById('beds').value = qsData.beds
    tafqry.push('"beds":"'+qsData.beds+'"')
  }
  if((typeof qsData.baths !== "undefined" && qsData.baths != "")){
    document.getElementById('baths').value = qsData.baths
    tafqry.push('"baths":"'+qsData.baths+'"')
  }
  if (qsData.pool == "on"){
    document.getElementById("pool").checked = true;
    tafqry.push('"pool":{"!is":"No"}') 
  }
  console.log(tafqry.join(', '))
  theqry = JSON.parse('{'+tafqry.join(', ')+'}')
};
//
  var loc_list = ''
// Query for the data
  propsdb(theqry).each(function (r) {
   //console.log(r.location_detail + "!");
   loc_list = loc_list+'\n'+r.location_detail
   
   outputHTML = outputHTML+tmpl("tmpl-demo", r)
});
  //console.log(loc_list)
  if(outputHTML ==""){outputHTML = "<center><h2> not found</h2></center>"}//"+findref+"
  document.getElementById("propresults").innerHTML = outputHTML

});
</script>

<script type="text/x-tmpl" id="tmpl-demo">  
<div class="column is-3-desktop is-12-mobile is-4-tablet has-text-centered">
          <div class="card">
           <a href="[%=o.url%]">
              <div class="card-content">
                  <div class="card-image">
                  <figure class="image is-4by3">                     
                          <img src="[%=o.thumb%]" alt="[%=o.location_detail%] [%=o.type%] for sale" title="[%=o.location_detail%] [%=o.type%] for sale">                     
                  </figure>
              </div>
                      <p class="price">
                          <span class="is-size-6 is-size-5-mobile has-text-weight-bold"> [%=o.price%] </span>
                      </p>
                  <div class="media">
                        <div class="media-content">
                          <p class="is-size-6 has-text-centered has-text-weight-semibold">[%=o.type%]</p>
                          <p class="is-size-7 has-text-centered">[%=o.location_detail%]</p>
                          <p class="is-size-7 has-text-centered"> ref: [%=o.ref%] </p>
                          <!--<p class="is-size-7 has-text-centered">
                            <span><i class="fa fa-bed fa-lg" aria-hidden=true></i> [%=o.beds%] </span>
                            <span><i class="fa fa-bath fa-lg" aria-hidden=true></i> [%=o.baths%] </span>
                          </p> -->
                        </div>
                  </div>
                  </a>
                  <!--
                  <div class="media">
                      <div class="media-content">
                          <p class="title is-5 has-text-centered">[%=o.type%]</p>
                          <p class="subtitle is-6 has-text-centered">[%=o.location_detail%]</p>
                      </div>
                  </div>
                  -->
                  <footer class="card-footer">
                      <p class="card-footer-item">
                          <span class=" is-size-7 is-size-6-mobile">
                            <i class="fa fa-bed fa-lg" aria-hidden="true"></i> [%=o.beds%]
                          </span>
                      </p>
                      <p class="card-footer-item">
                          <span class=" is-size-7 is-size-6-mobile">
                            <i class="fa fa-bath fa-lg" aria-hidden="true"></i> [%=o.baths%]
                          </span>
                      </p>
                      <p class="card-footer-item">
                          <span class="is-size-7 is-size-7-mobile">
                            <i class="fa fa-swimming-pool fa-lg" aria-hidden=true></i> [%=o.haspool%]
                          </span>
                  </p>
                  </footer>
                                    <footer class=card-footer>
                      <p class="xcard-footer-item price">
                          <span class="is-size-6 is-size-5-mobile has-text-weight-bold"> [%=o.price%] </span>                          
                      </p>
                  </footer> 
               </div>
          </div>
        </div>  
    </script>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "https://www.maxgoldhouse.com",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+34 657 612 295",
      "contactType" : "customer support"
    },
    { "@type" : "ContactPoint",
      "telephone" : "+44 114 299 8082",
      "contactType" : "customer support",
      "areaServed":"GB"
    } ] }
</script>
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
</html>