body{margin:0 auto;}
body{display:flex;min-height:100vh;flex-direction:column;}
.navbar{border-bottom:2px solid #f1ae50;}
.navbar-burger{margin-left:0px; padding: 16px;}
#propdetail{max-width:1200px}
#proptitle{min-height:8vh;background-color:black;color:white;font-size:2rem;padding:8px}
#proptitle ref{display:inline;}
.xcolumns{margin: -1.25rem;}
.xcolumn{padding:0.0;}
search,slides{flex:1}
*{box-sizing:border-box;}
/* https://res.cloudinary.com/maxgoldhouse/image/upload/c_fill,h_600,w_1600/bouginvillia.jpg */
#fpphoto{background-image:url('https://res.cloudinary.com/maxgoldhouse/image/upload/v1585216901/7-825x510.jpg ');background-size:cover;margin-bottom: 30px;}
#fpsearchformholder .columns{margin:0px;}
#fpsearchformholder{padding:12px;opacity:100%;width: 96%;}
#fpsearchformholder .button{margin-top:1rem;}
#fpsearchformholder input.input{width: 90%;}
.fpsearchform div p{text-shadow:3px 3px #000;}
.card-footer-item{background-color:##fff;color:#000;font-weight:bold;}
#topsix{max-width: 98%; margin-left: 1%; margin-right: 1%;}
#rubrun{max-width: 98%; margin-left: 1%; margin-right: 1%;margin-top: 0.5rem;}
.rubruns.columns{padding:10px;}
.rubruns.columns .column{padding:10px;}
.rubruns.columns:last-child{padding:20px;}
header, footer{background:rgba(ffffff);}
header .column{padding:0px;}
footer a{color:white;}
footer a:hover{color:#ddd;}
.popwhitetext{text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);}
.has-background-mchbrown{background-color:#8b684a!important;}
.has-background-mchblue{background-color:#62defc!important;}
.has-background-mchyellow{background-color:#f4cc23!important;}
.is-seedetails{background-color:#62defc;color:#ffffff;border-color:transparent;margin-top:0.5rem;}
.is-sendenq{background-color:#62defc;color:#ffffff;border-color:transparent;}
.center, .center-column, .top, .right, .bottom, .left{display:flex;justify-content:center;align-items:center;}
.center-column{flex-direction:column;}
.top{align-items:flex-start;}
.right{justify-content:flex-end;}
.bottom{align-items:flex-end;}
.left{justify-content:flex-start;}
.pad-8{padding:8px;}
.pad-12{padding:12px;}
.pad-16{padding:16px;}
.pad-top-12{padding-top:12px;}
.single-spaced, .single-spaced *{line-height:1;}
input:invalid{border:1px dashed red;}
input:valid{border:1px solid green;}
ul#propfeatures li{display:inline-block;padding:0.5rem;}
.features img{height: 24px;}
.features {font-size: 0.8em}
.fpsearch{min-height:22vh;}
.fpbigbuttons{min-height:90vh;}
.hometile{position:relative;}
.hometilelabel{position:absolute;bottom:2vh;left:4vh;color:white;padding:40% 40% 0 0;text-shadow:2px 2px #000;}
.hometilelabel:hover{color:white;}
.xfpsearch.sticky{position:-webkit-sticky;position:sticky;top:0;left:0;}
/*#container{width:96%; margin: 0px auto 0px auto;}*/
.proplistdetails{padding:1.75rem 0.5rem;}
.propertylist:first-child{padding-top:1.5rem;}
.sold, .rented, .stc{position: absolute;  bottom: 40%;  left: 0;  right: 0;  padding: var(--space-1);  background: rgba(255, 255, 255, 0.3);  color: red;  font-size: 3.5rem;  max-height: 30%;}
.is-sold,.is-offer{position:absolute;top:50px;right:30px}
.see-details{margin-top:1.75rem;}
.is-price{background-color:#8b684a;color:white;position:absolute;top:50px;right:30px;}
#contact{min-height:85vh;padding:3rem 0rem;}
#contact td:first-child{text-align:center;background-color:#8b684a;color:white;}
.policy{min-height:85vh;padding:3rem 0rem;}
.policy h1{font-size:3rem;}
.policy h3{font-size:1.5rem;}
.policy p{padding:12px;}
.card-content{padding: 0px;}
.card-footer-item.price{background-color: #fff;}
.price{padding-top: 12px;}
.brochure{padding: 15px; border: 2px solid #ddd; border-radius: 4px;}
.mgh-blue{color:#3273dc;}
#searchbar{background-color: navy;padding-top: 24px;}
#searchbutton{padding-top: 30px;}
#propsearch{height: 120%;}
.searcharea{width: 96%;  display: flex; margin-left: auto;margin-right: auto;}
.slimreset {color: #ffffff; text-shadow: none; padding: 2px 4px 2px 4px; background-color: #1f9cee; border-radius: 20px; margin-left: 4px; cursor: pointer;}
.slim-hidden{visibility:hidden;}
.list-inline li{display:inline;}
.ss-multi-selected{overflow-y: scroll; max-height: 120px;}
#prop-description{width:80%;margin: 0 auto;}
#footer{margin-top: 6em; background-color: #3273dc; color: white; padding: 2em 1em 2em 1em;border-top: 2px solid #f1ae50;}
#footer a{color: white;text-decoration: underline;}
#footer a:hover{background-color: #2366d1; color: #fff;}
/* drop down in search */
.dropbtn {background-color: #3498DB; color: white; padding: 16px; font-size: 16px; border: none; cursor: pointer;}

  .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  }

  .dropdown {
  position: relative;
  display: inline-block;
  }

  .dropdown-content {
  display: none;
  position: absolute;
  right:10%;
  background-color: #3273dc;
  padding: 16px;
  min-width: 240px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}
  
.vam{vertical-align: middle;}
#propsearch .column{padding: 0 0.75em}
.form-control {
  display: block;
  width: 100%;
  /* height: 36px; */
  padding: 6px 12px;
  color: #332627;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  transition: border-color ease-in-out .15s;
}

input#pool{height: 30px;}
  
#propresults{margin-top:3%;width: 98%; margin-right: auto; margin-left: auto;}

@media screen and (min-width:769px){#fpsearchformholder{margin: 20vh 0 20vh 0;} } /* tablet */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* makes the font 33% larger relative to the icon container */
  .fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .fa-bed:before {
    content: "\f236";
  }
  .fa-bath:before {
    content: "\f2cd";
  }
  .languagepicker {
    background-color: #FFF;
    display: inline-block;
      position: absolute;
      right: 8px;
      top: 13px;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 1px 1px 0;
    vertical-align: top;
    /*float: left;*/
  }
  
  .languagepicker:hover {
    /* don't forget the 1px border */
    height: 81px;
  }
  
  .languagepicker a{
    color: #000;
    text-decoration: none;
  }
  
  .languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    border-top: 1px solid #EEE;
  }
  
  .languagepicker li:hover{
    background-color: #EEE;
  }
  
  .languagepicker li span {
    padding-left: 20px;
  }
  
  .languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
  }
  
  .languagepicker li img {
    margin-right: 5px;
  }
  .large:hover { height: 165px; z-index: 2000; }